.header-style{
    border: 2px solid rgb(3, 3, 55);
    background-color: rgb(6, 6, 55);
    height:10vh;
    width:100%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}